[Unit]
Description=My service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u edgeProximity.py
WorkingDirectory=/home/pi/Documents/Fireplace/sketches
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target